body{
    background-color: rgb(31, 33, 37);
}
.head{
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.head nav{
    border: 2px solid rgb(155, 81, 224);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    background-color: rgb(22, 23, 26);
    width: 620px;
    height: 40px;
    box-shadow: rgb(155, 81, 224) 0px 1px 14px;
}
nav button{
    font-size: 15px;
    color: aliceblue;
    font-family: sans-serif;
    padding-left: 2px;
    padding-right: 14px;
    font-weight: 300;
    background-color: transparent;
    border: none;
}
nav button:hover{
    cursor: pointer;
    transition: 0.2s;
    color: rgb(155, 81, 224);
    text-shadow: rgb(155, 81, 224) 0px 0px 0px, rgb(155, 81, 224) 0px 0px 0px, rgb(155, 81, 224) 0px 0px 10px, rgb(155, 81, 224)0px 0px 0px, rgb(155, 81, 224) 0px 0px 0px;
}
#logo img{
    width: 75px;
    height: 85px;
    padding-left: 45px;
}
#se-logo{
    width: 250px;
    margin-top: 3%;
}
form{
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: rgb(31, 32, 36);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid purple;
    padding: 5px;

}
input{
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(31, 32, 36);
    color: white;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover{
    width: 200px;
    cursor: pointer;

}
form:hover input{
    display: block;
}
form:hover .fa{
    background: #8c52ff;
    color: white;
}
#se-logo:hover{
    cursor: pointer;
}
.sec-head{
    width: 100%;
}
.gt-slide:hover{
    cursor: pointer;
}
.heading{
    margin-top: 3.5%;
    margin-left: 5%;
    width: 90%;
    height: 60px;
    background-color: rgb(31, 32, 36);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
}
.heading h1{
    text-align: center;
    align-self: center;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 38px;
    padding-top: 5px;
}
mark{
    background-color: transparent;
    color: rgb(155, 81, 224);
}
.games{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 7%;

}
.game{
    width: 195px;
    height: 360px;
    margin-bottom: 3%;
    padding: 10px;
    border: 2px solid rgb(155, 81, 224);
    box-shadow: rgb(155, 81, 224) 0px 0px 6px;
    cursor: pointer;
    transition: all 0.40s ease;
}
.g1{
    background-image: url(reverse-collaps-poster-.webp);
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: contain;
}
.g2{
    background-image: url(returnal-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.g3{
    background-image: url(reus-2-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g4{
    background-image: url(revenge-of-the-savage-plant-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g5{
    background-image: url(reveil-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g6{
    background-image: url(research-and-destroy-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g7{
    background-image: url(resenta-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g8{
    background-image: url(retro-gadets-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g9{
    background-image: url(resturants-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g10{
    background-image: url(retrorealmis-arcade-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g11{
    background-image: url(retrowave-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g12{
    background-image: url(return-of-the-obra-dinn-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g13{
    background-image: url(return-to-monkey-island-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g14{
    background-image: url(reventure-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g15{
    background-image: url(remnant-ii-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.g16{
    background-image: url(republic-of-pirates-poster-.webp);
    background-repeat: no-repeat;
    background-size: contain;
}
.game h3{
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    padding-left: 10px;
    position: relative;
    top: 260px;
}
.game:hover{
    transform: scale(1.06);
}
.button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.button button{
    background-color: rgb(31, 32, 36);
    color: rgb(155, 81, 224);
    border-radius: 50px;
    border: none;
    width: 180px;
    height: 60px;
    font-size: 19px;
    box-shadow: rgb(155, 81, 224) 0px 0px 6px;
    
}
.button button:hover{
    background-color: rgb(106, 51, 156);
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}